# Virtual environments
**/.venv/
**/venv/
**/env/

# Python cache & build files
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/build/
**/dist/
**/*.egg-info/

# Environment variables & secrets
**/.env
**/.env.*

# Node modules & logs
**/node_modules/
**/npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db
